@import 'utilities/mixins';
@import 'utilities/bootstrap';
@import 'utilities/ease';

// variables
$color1: #ffffff;
$color2: #fafafb;
$color3: #f5f5f5;
$color4: #f2f2f2;
$color5: #46494C;
$color6: #ff6666;
$color7: #ff9142;
$color8: #e9e9e9;

html, body{
    @include font-size(16px);
    @include serif-font();
    @extend %w-100, %h-100;
    margin: 0;
    padding: 0;
    color: $color5;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body{
    @include gradient($color2, 1, $color3, 1, top, bottom, 100%);
}

*, *:after, *:before { @include box-sizing(border-box); }

.bg1{ background-color: $color1; }
.bg2{ background-color: $color2; }
.bg3{ background-color: $color3; }
.bg4{ background-color: $color4; }
.bg5{ background-color: $color5; }
.bg6{ background-color: $color6; }
.bg7{ background-color: $color7; }
.bg8{ background-color: $color8; }

.color1{ color: $color1; }
.color2{ color: $color2; }
.color3{ color: $color3; }
.color4{ color: $color4; }
.color5{ color: $color5; }
.color6{ color: $color6; }
.color7{ color: $color7; }
.color8{ color: $color8; }

#checkedList > div:nth-child(even), 
#unchekedList > div:nth-child(even),
#tagsList > div:nth-child(even){
  background-color: $color2;
}
#checkedList > div:nth-child(odd), 
#unchekedList > div:nth-child(odd),
#tagsList > div:nth-child(odd){
  background-color: $color3;
}

.table{
  display: table;
  width: 100%;
}

.table-cell{
  display: table-cell;
  max-width: 50%;
  min-width: 50%;
  width: 50%;
}

#addItem,
#reloadBtn,
.checked,
.unchecked,
.btn{
  vertical-align: middle;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.footBtn{
  @include opacity(0.5);
  @include transition(opacity 300ms);
  width: 2rem;
  cursor: pointer;
  &:hover{
    @include opacity(1);
  }
}

.checked, .unchecked{
  display: inline-block;
  background-size: cover;
}
.checked{ background-image: url('../images/checked.svg'); }
.unchecked{ background-image: url('../images/unchecked.svg'); }

input[type="text"] {
  @include border-radius(7px);
  height: inherit;
  padding: 4px 10px;
  border: 1px solid $color5;
  font-size: inherit;
}

#reloadBtn{
  @include transition(all 600ms ease);
  &.rotated { @include rotate(360deg); }
}

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

.tagSelect{
  font-size: 1.2rem;
  text-decoration: underline;
  color: #005999;
  cursor: pointer;
  &:hover,
  &:active{
    color: #07C;
  }
}

.coin{
  @include border-radius(5px);
  border: 1px solid$color5;
  padding: 5px;
  background: $color8;
}

.offScreen{ @include absolute(left -9999px top 0); }
